body { 
	padding-top: 70px; 
}
.content-block{
	margin-left: 16px;
	margin-bottom: 10px;
	border-bottom: solid 1px rgba(48, 48, 48, .2);
	background-clip: padding-box;
}

.login-container {
	display: inline-flex;
	color: #c1c1c1;
	font-size: 80%;
}
.login-form {
	margin-top: 12px; 
	margin-right: 10px; 
}

.login-input {
	/*border: solid 1px;*/
	border-radius: 5px;
	margin-right: 5px;
	padding-left: 3px;
	color: #494949;
}

.login-label {
	margin-right: 5px;
}
