{% extends "base.html" %}
{% block title %} Create post {% endblock %}
{% block content %}
    {% if request.session.user_name %}

    <div id="title">Create post</div>
    <form action="{{action}}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} 
                    {% if field.field.required %} 
                        <span class="required">* required</span> 
                    {% endif %}<br>
                {{ field }}
            </div>
        {% endfor %}
        <input type="submit" value="Post" />
    </form>
    {% else %}
        Wrong User!!!
    {% endif %}
{% endblock %} 