{% extends "base.html" %}
{% block title %} Blog {% endblock %}
{% block content %}
    {% if request.session.user_name %}
    <a href="{% url 'blog:form' %}">Create</a>
    {% endif %}
    <div id="title"> Welcome to My Blog</div>
    {% for post in posts_list %}
    <div class="post-block" >
        <p>
            <a href="{% url 'blog:detail' post.slug %}">
                <h3>{{ post.title }}</h3>
            </a>
        </p>
        <div class="subtext"> Published: {{post.date}} </div>
        {% if post.image %}
            <img src="{{post.image.url}}" class="img">
        {% endif %}
        <p>{{post.short_body}}</p>

    </div>
    {% endfor %}
    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="/blog?page={{page_obj.previous_page_number}}">previous</a></li>
        {% endif %}
        <li class="active"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>
        {% if page_obj.has_next %}
        <li><a href="/blog?page={{page_obj.next_page_number}}">next</a></li>
        {% endif %}
    </ul>
    {% endif %} 
{% endblock %}