{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
    {% block meta %}{% endblock %}
</head>
<body class="" >
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container" >
            <a href="{% url 'home' %}" class="navbar-brand">Home</a> 
            <a href="{% url 'blog:index' %}" class="navbar-brand">Blog</a> 
            <a href="{% url 'convertor:index' %}" class="navbar-brand">Convertor</a> 
        </div>
        <div class="container">
            {% if messages.error %} <p>{{ messages.error }}</p> {% endif %}
            {% if request.session.user_name %} 
                <form action="{% url 'my_auth:logout' %}" >
                    {% csrf_token %}
                    <label>You are: {{ request.session.user_name }} </label> 
                    <input type="submit" value="logout" >
                </form>
            {% else %}
                {% include 'registration/login.html' %}
            {% endif %} 
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% block content %}
    {% endblock %}
</body>
</html>
